<h1>Input info about the new employee</h1>

<div class="form">
  <%= form_for [@company, @shop, @employee],
          url:company_shop_employees_path(@company, @shop),
          method: :post  do |employee_form | %>
    <%= render 'shared/error_messages', object: employee_form.object %>
    <%= employee_form.label :role %>
    <%= employee_form.text_field :role %>

    <%= employee_form.label :user_id %>
    <%= employee_form.collection_select(:user_id, User.all, :id, :name )%>

    <div class="more">
      <div class="button save"><%= employee_form.submit "Add employee", class: "btn btn-primary" %></div>
      <div class="button back"><%= link_to "Back", company_shop_path(@company,@shop), class: "btn btn-primary"  %></div>
    </div>
  <% end %>
</div>
