<h1>Edit <%= @shop.name %></h1>

<div class="form">
  <%= form_for [@company, @shop] do |shop_form | %>
    <%= render 'shared/error_messages', object: shop_form.object %>
    <%= shop_form.label :name %>
    <%= shop_form.text_field :name %>

    <%= shop_form.label :email %>
    <%= shop_form.text_field :email %>
    <div id="active">
      <div> <%= shop_form.label :active %> </div>
      <div> <%= shop_form.check_box :active %></div>
    </div>
    <%= shop_form.fields_for :address do |address_form| %>
      <%= address_form.label :short_address %>
      <%= address_form.text_field :short_address %>

      <%= address_form.label :full_address %>
      <%= address_form.text_field :full_address %>

      <%= address_form.label :city %>
      <%= address_form.text_field :city %>

      <%= address_form.label :zipcode %>
      <%= address_form.text_field :zipcode %>

      <%= address_form.label :country %>
      <%= address_form.text_field :country %>
    <% end %>
    <div class="more">
      <div id="container">
        <div style="width:400px;"><%= shop_form.submit "Save changes", class: "btn btn-primary" %></div>
        <div style="width:100px;"><%= link_to "Back", company_shop_path(@company, @shop), class: "btn btn-primary"  %></div>
      </div>
    </div>
  <% end %>
</div>
