<h2 class = "h2-comp">
  All the appointments that belong to <%= @shop.name %>
</h2>

<div class="show">
  <ul>
    <% @appointments.each do |appointment| %>
      <li>
        Appointment from <%= appointment.date %>,
        containing <%= pluralize(appointment.item_number, 'item') %>,
        has the status of <b><%= appointment.status.humanize -%></b>.
        <% if appointment.booked? %>
          <%= link_to "Change to Ready for pickup",
                       company_shop_change_status_path(@company, @shop, appointment: appointment.id, status: 'ready'),
                       method: :put,
                       class: "btn btn-primary",
                       data: { confirm: "Are you sure you want to change the status?" } %>
        <% elsif  appointment.ready_for_pickup?  %>
          <%= link_to "Change to finished ",
                       company_shop_change_status_path(@company, @shop, appointment: appointment.id, status: 'finished'),
                       method: :put,
                       class: "btn btn-primary",
                       data: { confirm: "Are you sure you want to change the status?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="showbtn">
    <%= link_to "Back to the shop", company_shop_path(@company, @shop), class: "btn btn-primary" %>
  </div>
</div>
