<% if @company.id === @shop.company_id  %>
  <h2 class="h2-comp">
    Information about <%= @shop.name %> which belongs to <%= @company.name %>
  </h2>

 <div class="show">
   <ul>
    <li>Shop name:<%= @shop.name %></li>
    <li>Shop email:<%= @shop.email %></li>
    <li>
      <% if @company.active %>
        Active
      <% else %>
        Inactive
      <% end %>
    <li>Short address:<%= @shop.address.short_address %></li>
    <li>Long address:<%= @shop.address.full_address %></li>
    <li>City:<%= @shop.address.city %></li>
    <li>Zipcode:<%= @shop.address.zipcode %></li>
    <li>Country:<%= @shop.address.country %></li>
  <div class="showbtn">
    <%= link_to "Edit shop", edit_company_shop_path(@company, @shop) , class: "btn btn-primary" %>
    <%= link_to "Delete shop", company_shop_path(@company, @shop), method: :delete , class: "btn btn-primary" %>
    <%= link_to "Back to shops" , company_shops_path, class: "btn btn-primary" %>
<%  else %>
 Oops, that's not your shop!
<% end %>
</div>
</ul>
</div>
