<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @appointment.shop.name %></h1>
    <p>
      An appointment has been created. The owner of the appointment is <%= @appointment.user.name %>
    </p>
    <p>
      Information about your appointment:
    </p>
    <div class= "show">
      <ul>
        <li>Date: <b><%= @appointment.date %></b>, total <%= pluralize(@appointment.item_number, 'item') %> <b><%= @appointment.item_number %> </b></li>
        <li>Status of the appointment: <b><%= @appointment.status %></b></li>
      </ul>
    </div>
  </body>
</html>
