<h2 class = "h2-comp">
  Business information for <%= @shop.name %>
</h2>

<div class= "show">
  <ul>
    <% @shop_slots.each do |shop_slot| %>
        <li>
          <% case shop_slot.day %>
          <% when 0 %>
            Sunday
          <% when 1 %>
            Monday
          <% when 2 %>
            Tuesday
          <% when 3 %>
            Wednesday
          <% when 4 %>
            Thursday
          <% when 5 %>
            Friday
          <% when 6 %>
            Saturday
          <% end %>
          working hours:
          </br>
          Shop opens at <%= shop_slot.open.strftime("%H:%M") %> and closes at <%= shop_slot.close.strftime("%H:%M") %>.
          Maximum slots available: <%= shop_slot.max_appointments %>
        </li>
    <% end %>
  </ul>
</div>

<div class="showbtn">
  <%= link_to "Back to the shop", company_shop_path(@company, @shop) , class: "btn btn-primary"%>
</div>

