<h1>
  Information about the current company
</h1>
<li><%= @company.name %></li>
<li><%= @company.email %></li>
<li><%= @company.active %></li>
<%= link_to "Delete", @company, method: :delete, data: { confirm: "You sure you want to delete the company?" }  %>
<%= link_to "Edit",  edit_company_path(@company) %>
</br>
</br>
<%= link_to "Create a new shop", new_company_shop_path(@company) %>
<%= link_to "Show all shops", company_shops_path(@company) %>
